.page-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-top: 2px solid var(--primary-color);
  /* border-bottom: 2px solid var(--primary-color); */
}

.cart-title {
  padding: 0;
  margin: 0;
  height: 60px;
  font-size: 60px;
  font-family: "Inter Tight";
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 400;
}

.cart {
  width: 100%;
  max-width: 800px;
  /* border: 1px solid #ccc; */
  padding: 1rem;
  /* border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color); */
}

.cart-grid {
  display: grid;
  grid-template-columns: 80px 2fr 1fr 1fr 1fr 40px;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid #dfdfdf;
}

.cart-header {
  font-family: "Inter";
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.cart-product img {
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-product p {
  font-family: "Inter Tight";
  color: var(--accent-color);
}

.cart-product button {
  background: transparent;
  border: 1px dotted var(--accent-color);
  color: var(--accent-color);
  border-radius: 5px;
}

.input-coupon {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.cart-footer {
  margin-top: 1.5rem;
}

.cart-totals p {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: var(--primary-color);
  font-family: "Inter";
}

.empty-cart {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
  color: #888;
}

.input-coupon::placeholder, .input-coupon[placeholder] {
    text-transform: lowercase;
    font-size: 1rem;
    font-style: italic;
}

.total1, .total2 {
  border-top: 1px solid var(--accent-color);
}

.total2 {
  border-bottom: 1px solid var(--accent-color);
}

.discount {
  color: var(--green-color) !important;
}

.striked-price span {
    text-decoration: line-through;
    font-size: smaller;
}