
.payment-form {
        width: 100%;
    max-width: 800px;
    /* border: 1px solid #ccc; */
    padding: 1rem;
    /* border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color); */
}

.payment-form input {
    border-bottom: 1px solid var(--primary-color);
}

.payment-form input:focus {
    color: var(--accent-color);
}

.payment-form input:nth-of-type(1) {
    border-top: 1px solid var(--primary-color);
}