    nav {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        width: 100%;
        flex-wrap: wrap;
    }


    .div-titre, .div-log, .div-links {
        display: flex;
    }

    .div-titre {
        flex: 1;
        margin-bottom: 30px;
    }

    .div-log {
 
        /* text-align: right; */

    }

    .div-links {

        flex-direction: column;
        justify-content: center;
        align-items: end;

    }

    .div-log p {
        padding: 0;
        margin: 0;
        height: 60px;
        font-size: 60px;
        font-family: "Inter Tight";
    }

    .div-log p:hover{
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }

    /* .div-log p:hover span {
        font-style: italic;
    } */

    .wrap {
        flex: 1 1 auto;
        justify-content: space-between;
        display: none;
    }

    .wrap2 {
        display: flex;
    }

    @media (min-width: 560px) {
        .wrap {
            display: flex;
        }

        .wrap2 {
            display: none;
        }

        .titre {
            font-size: 90px;
        }

        
    }

    @media (min-width: 990px) {
       .wrap {
        justify-content: end;
       }
    }


    .div-links p {
        font-family: "Yatra One";
        font-size: 60px;
    }

    .div-log p {
        font-size: 60px;
    }

    .div-catalog, .div-titre {
        height: 100px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links p {
        padding: 0;
        margin: 0;
        height: 60px;
        font-family: "Inter Tight";
    }

    .titre {
        font-family: "Yuji Boku";
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 300;
        letter-spacing: -1px;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    /* .titre::after {
        content: "Literria";
        font-family: "Yatra One", system-ui;
        font-size: 100px;
        font-weight: 300;
        letter-spacing: 3px;
        color: black;
        position: absolute;
        left: 8px;
        z-index: -1;
        opacity: 0;
    } */
/* 
    .titre:hover::after {
        opacity: 1;
    } */

    /* .titre:hover span {
        font-style: italic;
    } */

    .login-icon {
        width: 30px;
        border: none;

    }

    /* Logique d'italique random */

    .nav-word {
 
        height: auto;

    }




    .italic-letter {
    font-style: italic;
    }
