    nav {
        display: flex;
        /* padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px; */
        width: 100%;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
        z-index: 1000;
        transition: all 0.3s ease;
    }

    nav.scrolled {
         mix-blend-mode:difference;
    }



    .div-titre, .div-log, .div-links {
        display: flex;
    }

    .div-titre a {
        text-decoration: none;
        color: var(--primary-color)
    }

    .div-log {
        /* border: 1px solid red;   */
        width: 210px;
        /* text-align: right; */

    }

    .div-links {

        flex-direction: column;
        justify-content: center;
        align-items: end;

    }

    .div-log p {
        padding: 0;
        margin: 0;
        height: 60px;
        font-size: 60px;
        font-family: "Inter Tight";
    }

    .div-log p:hover, .div-links p:hover, .wrap2 p:hover {
        text-decoration: underline;
        text-underline-offset: 0.3rem;
        /* text-decoration-color:#FF595E; */
        text-decoration-color:var(--accent-color);
    }

    /* .div-log p:hover{
        color: #F3CA40;
    } */

    .wrap2 p:hover {
        text-decoration-thickness: 2px;
        text-decoration-color:var(--accent-color);
    }

    /* .div-log p:hover span {
        font-style: italic;
    } */

    .wrap {
        flex: 1 1 auto;
        justify-content: space-between;
        display: none;
    }

    .wrap2 {
        display: flex;
    }

    .wrap2 p {
        font-family: "Inter Tight";
        font-size: clamp(12px, 2.8vw, 18px);
        color: #CDF7F6;
    }

    .wrap2 p:nth-of-type(1) {
        width: 70px;
    }

    @media (min-width: 720px) {
        .wrap {
            display: flex;
        }

        .wrap2 {
            display: none;
        }

        
    }

    @media (min-width: 1200px) {
       .wrap {
        justify-content: end;
       }
    }

    .div-links p {
        font-family: "Yatra One";
        font-size: 60px;
        color: var(--primary-color);
    }

    .div-links a {
        text-decoration: none;
    }

    .div-log p {
        font-size: 60px;
        color: var(--primary-color);
    }


    .div-catalog, .div-titre {
        height: 100px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links p {
        padding: 0;
        margin: 0;
        height: 60px;
        font-family: "Inter Tight";
    }

    .titre {
        font-family: "Yuji Boku";
        text-transform: uppercase;
        font-size: clamp(48px, 15vw, 80px);
        font-weight: 300;
        letter-spacing: -1px;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        width: 100%;
        color: var(--primary-color);
    }

    /* .titre::after {
        content: "Literria";
        font-family: "Yatra One", system-ui;
        font-size: 100px;
        font-weight: 300;
        letter-spacing: 3px;
        color: black;
        position: absolute;
        left: 8px;
        z-index: -1;
        opacity: 0;
    } */
/* 
    .titre:hover::after {
        opacity: 1;
    } */

    /* .titre:hover span {
        font-style: italic;
    } */

    .login-icon {
        width: 30px;
        border: none;

    }

    /* .sign-in {
        display: flex;
        flex-direction: column;
        align-items: start;
    } */

    /* sticky sign in - computers */
/* 
    .sign-in {
        position: fixed;
        top: 9px;
        z-index: 1000;
    } */

    /* Logique d'italique random */

    .nav-word {
        height: auto;
    }

    .italic-letter {
    font-style: italic;
    color: var(--accent-color);
    }
