input {
    outline: none;
    background: transparent;
    height: 34px;
    width: 100%;
    border: none;
}

input::placeholder {
    color: var(--accent-color);
    font-family: "Inter";
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
}

input[placeholder] {
    color: var(--accent-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
}

 .search-input-wrapper input::placeholder, .search-input-wrapper input[placeholder] {
    text-align: center;
 }

@media (min-width: 1024px) {
 .search-input-wrapper   input::placeholder {
        text-align: right;
}

.search-input-wrapper input[placeholder] {

    text-align: right;
}
.search-icon {

    left: 45px;

}

}

.search-input-wrapper {
    position: relative;
    width: 200px;
}

.search-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 27px;
    pointer-events: none;
    fill: var(--accent-color);
    display: none;
    /* transition: opacity 0.2s ease; */
}

.search-input-wrapper input:not(:placeholder-shown) + .search-icon {
    opacity: 0;
}