
@import '../../catalog/catalog.css';

.category-header {
    margin-bottom: 2rem;
    text-align: center;
}

.category-header h5 {
    margin: 0;
    text-transform: uppercase;
    font-family: "Inter Tight";
    color: var(--primary-color);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.back-btn {
    /* background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #6c757d;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease; */
    background: transparent;
    border: 1px var(--primary-color) dotted;
    color: var(--primary-color);
    transition: all 0.3s ease;
    width: 160px;
    font-family: "Inter Tight";
}

.back-btn:hover {
    text-transform: lowercase;
    border-radius: 5px;
}

.no-books {
    text-align: center;
    padding: 2rem;
    color: #6c757d;
}


/* .d-flex button {
    cursor: pointer;
    transition: all 0.3s ease;
}

.d-flex button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */