.page-auth {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth p {
    font-family: "Inter";
    font-size: 0.9rem;
    color: var(--primary-color);
}

.auth a {
    color: var(--primary-color);
}

.auth {
    padding: 10px;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.52);
}

.sign-in-btn {
    background: transparent;
    border: 1px var(--primary-color) dotted;
    color: var(--primary-color);
    transition: all 0.3s ease;
    width: 100%;
    font-family: "Inter Tight";
}

.sign-in-btn:hover {
    border-radius: 5px;
    text-transform: lowercase;
}

.auth input::placeholder{
    animation: beep 0.3s infinite;
    opacity: 1;
}

@keyframes beep {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}