.page-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;

    /* margin-top: 60px; */
}

.book {
    /* width: 70vw; */
    /* flex: 1 auto; */
    width: 100%;
    max-width: 100%;
    margin-top: 10px;

    
}



/* @media (min-width: 760px) {
  .book {
    width: 22vw;
  }
} */

.book-rangee {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 30px;
  /* padding: 0 10px; */
}

@media (min-width:768px) {
  .book-rangee {
    grid-template-columns: repeat(2, 1fr);
    /* padding: 0 20px; */
  }
}

@media (min-width: 1024px) {
  .book-rangee {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .book-rangee {
    grid-template-columns: repeat(4, 1fr);
  }
}

.div-img {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: end; 
    position: relative;
    perspective: 1000px;
}

/* .book-effects {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
} */

/* 
.div-img:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: calc(100% + 20px);
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0.1) 0%,
        transparent 70%
    );
    border-radius: 10px;
    z-index: 0;
    opacity: 0.5;
} */

.div-img img {
    object-fit: cover ;
    width: 250px;
    height: auto;
    border-radius: 2px;
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
    box-shadow: 
        0 10px 30px rgba(0, 0, 0, 0.3),
        inset 4px 1px 3px rgba(255, 255, 255, 0.4),
        inset 0 -1px 2px rgba(0, 0, 0, 0.5);
}

.book-image-wrapper {
    position: relative;
    width: 250px;
    height: auto;

}

.book-image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
    transition: all 0.3s ease-in;
    z-index: 1;
    -webkit-box-shadow: -19px 5px 21px -8px rgba(66, 68, 90, 1);
    -moz-box-shadow: -19px 5px 21px -8px rgba(66, 68, 90, 1);
    box-shadow: -19px 5px 21px -8px rgba(66, 68, 90, 1);
    
}

.book-image-wrapper img:hover {
    -webkit-box-shadow: -10px 10px 24px -4px rgba(66, 68, 90, 0.5);
    -moz-box-shadow: -10px 10px 24px -4px rgba(66, 68, 90, 0.5);
    box-shadow: -10px 10px 24px -4px rgba(66, 68, 90, 0.5);

}

.book-image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.25),
        rgba(255, 255, 255, 0.05),
        transparent 70%
    );
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    /* box-shadow: 
        2px 0 4px rgba(0, 0, 0, 0.25), 
        inset -1px 0 2px rgba(255, 255, 255, 0.06); */
    pointer-events: none;
    z-index: 2;
} 

.book-description {
    display:-webkit-box ;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--dark-grey);
}

.book-title, .book-author {
    color: var(--primary-color);
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin:0;
    padding:0;
}

.book-author {
    font-style: italic;
    /* font-size: 18px; */
    font-weight: 300;
    text-transform: none;
}

/* Boutons catégories */

.book button {
  border: 1px var(--primary-color) dotted;
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 5px;
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 11px;
  transition: all 0.2s ease-in;
}

.book button:hover {
  background-color: var(--primary-color);
      transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/* Bouton load more */

.view-more-container {
  margin-top: 40px;
}

.load-more-btn {
    background: transparent;
    border: 1px var(--primary-color) dotted;
    color: var(--primary-color);
    transition: all 0.3s ease;
    width: 170px;
    font-family: "Inter Tight";
}

.load-more-btn:hover {
  text-transform: lowercase;
  border-radius: 5px;
}

/* .view-more-btn:hover {
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
} */

/* Prix */

.card-book-price {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-weight: 400;
  font-family: "Inter";
  border: 1px dotted var(--primary-color);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Inter";
  font-size: 0.9rem;
}

/* Add 2 cart */
.btn-add-cart {
  color: var(--primary-color) !important;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.7rem !important;
}

.btn-add-cart:hover{
  color: var(--accent-color) !important;
}

.btn-view-more {
  /* background: var(--primary-color) !important; */
  /* border: 2px inset var(--accent-color) !important; */
  letter-spacing: 1px;
  transition: all 0.3s ease;
  color: var(--accent-color);
    color: var(--accent-color);
  border-radius: 5px;
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 11px;
  transition: all 0.2s ease-in;
}

.btn-view-more:hover { 
  /* border: 2px outset var(--accent-color) !important; */
}
