.book {
    width: 340px;
}

.div-img {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: end;
    /* border: 1px solid pink; */
}

.div-img img {
    object-fit: cover ;
    width: 250px;
    height: auto;
    /* height: 400px; */
    /* border: 70px solid var(--bg-color); */
}

.book-description {
    display:-webkit-box ;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--primary-color);
}

.book-title, .book-author {
    color: var(--primary-color);
    font-family: "Inter";
    font-size: 18px;
    /* text-transform: uppercase; */
    font-weight: 400;
    letter-spacing: 1px;
}

.book-author {
    font-style: italic;
    font-size: 17px;
    font-weight: 300;
}